@import "reset.min";
@import "system/fonts";
@import "system/variables";
@import "system/media";
@import "system/function";
@import "components/buttons";

* {
  scrollbar-width: thin;
  scrollbar-color: $color-accent $color-primary;
  //scrollbar-color: rgba(228,14,207,0.4) $color-primary;
  //scrollbar-color: $color-primary $color-accent;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: $color-primary;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-accent;
  border: none;
}

.heading {
  font-family: adineuePROCyr, serif;
  color: $color-white;
  font-size: 142px;
  line-height: 87%;
  font-style: normal;
  font-weight: bold;

  @include lap() {
    font-size: 120px;
  }
  @include tab() {
    font-size: 92px;
  }
  @include mob() {
    font-size: 48px;
  }

  &--h1 {
    font-size: 78px;
    line-height: 95%;
    @include tab() {
      font-size: 56px;
    }
    @include mob() {
      font-size: 48px;
    }
  }

  &--h2 {
    font-size: 42px;
    line-height: 106%;
    @include mob() {
      font-size: 22px;
    }
  }

  &--h3 {
    font-size: 32px;
    line-height: 106%;
    @include mob() {
      font-size: 24px;
    }
  }

  &--card-title {
    font-size: 53px;
    line-height: 72%;
    cursor: pointer;
    @include mob() {
      font-size: 30px;
    }
  }

  &--card-title2 {
    font-size: 24px;
    line-height: 158%;
    cursor: pointer;
    @include tab() {
      font-size: 20px;
    }
  }

  &--grad1 {
    color: $color-accent;
    background: gradient-accent(357deg, 35%, 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--grad2 {
    color: $color-accent;
    background: gradient-accent(265deg, 21%, 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--grad3 {
    color: $color-accent;
    background: gradient-accent(340deg, 35%, 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--grad-revert {
    color: $color-accent;
    background: gradient-accent(-265deg, 27%, 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
  padding: 0 15px;
  @include tab() {
    width: 100vw;
    padding: 0 15px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  @include mob() {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.form-wrapper {
  background: gradient(180deg, 0.33, 0.06, 0%, 100%);
  border: 1px solid #257B8E;
  padding: 30px 40px;
  border-radius: 11px;
  width: 660px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  position: relative;

  &__title {
    grid-column: span 3;
  }

  .button,
  .button-wrap {
    grid-column: span 1;
    width: 100%;
    height: auto;
  }
}

.fieldset {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-family: LabGrotesque, serif;
    color: $color-white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  &__input {
    border-radius: 8px;
    border: $color-primary solid 1px;
    font-family: adineuePROCyr, serif;
    font-size: 16px;
    color: $color-white;
    padding: 13px 30px;
  }

  &__button {
    border-radius: 8px;
    background: #01333F;
    border: none;
    font-family: adineuePROCyr, serif;
    font-size: 16px;
    color: $color-white;
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
  }

  textarea {
    min-height: 200px;
  }
}

.fileset__button--joined {
  border: $color-primary solid 1px;
  background: none;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}