.button {
  font-family: adineuePROCyr, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 200%;
  color: $color-white;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  z-index: 2;
  padding: 10px;

  &--gradient {
    background: gradient-accent(262deg, -10%, 62%);
    border-radius: 8px;
  }

  &--border {
    border: 1px solid $color-white;
    border-radius: 11px;
    background: none;
  }

  &--circle {
    border: $color-primary solid 2px;
    background: none;
    border-radius: 50%;
    padding: 0;
  }

  &:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.15s;
    @include tab() {
      transform: none;
    }
  }

  &--grad-border {
    color: $color-accent;
    background: gradient-accent(-87deg, 11%, 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 5px;
  }
}

.button-wrap {
  --b: 1px; /* border width*/
  --r: 8px; /* the radius */

  padding: calc(var(--b) + 5px);
  z-index: 0;

  color: $color-accent;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.15s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--b);
    border-radius: var(--r);
    //-webkit-mask: -webkit-gradient(
    //      linear,
    //      left top,
    //      right bottom,
    //      color-stop(1, rgba(0, 0, 0, 1))
    //    ) content-box,
    //  -webkit-gradient(linear, left top, right bottom, color-stop(1, rgba(0, 0, 0, 1)));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background: gradient-accent(-87deg, 11%, 95%);
  }

  &:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.15s;
    @include tab() {
      transform: none;
    }
  }
}
