@import "variables";

@function gradient(
  $deg,
  $transparent-one:1,
  $transparent-two:1,
  $a-one:0%,
  $a-two:100%
) {
  $grad: linear-gradient($deg, rgba(7, 196, 239, $transparent-one) $a-one, rgba(7, 196, 239, $transparent-two) $a-two);
  @return $grad
}

@function gradient-accent(
  $deg,
  $a-one:0%,
  $a-two:100%
) {
  $grad: linear-gradient($deg, $color-primary $a-one, $color-accent $a-two);
  @return $grad
}
