$color-nav-text: #AEAEAE;
$color-text-active: #21D4FD;
$color-white: #ffffff;
$color-dark: #0A0914;
$color-accent: #E40ECF;
$color-primary: #07C4EF;

$media-lap: 1440px;
$media-tab: 810px;
$media-mob: 575px;